<div class="gpbest">
    <p> MORNING </p>
    <p> Best Egg Sandwich (pictured) – Eggslut’s The Fairfax</p>
    <p> Best Sugar Donut – Huckleberry</p>
    <p> Best Croissant – Maison Giraud</p>
    <p> Best Granola – GTA</p>
    <p> Best Jam – SQIRL</p>
    <p> Best Bagel (pictured) – Wexler’s Deli</p>
    <p> Best Farmers Market – Santa Monica Wednesday Farmers Market</p>
    <p> Best Egg Dishes</p>
    <li><p>Huckleberry</p></li>
    <li><p>Superba</p></li>
    <li><p>SQIRL</p></li>
    <p> Best Breakfast Restaurant Group – Gjelina, GTA, and Gjsuta</p>
    <p> Best Coffee on the Westside</p>
    <li><p>Bluebottle Coffee</p></li>
    <li><p>Lo/cal (pictured)</p></li>
    <p> Best Acai Bowl (pictured) – Juice Crafters</p>

    <p>DAY</p>
    <p>Best Sandwich – Bay Cities’ Godmother</p>
    <p>Best Dumplings – Din Tai Fung (specialty is the soup dumplings)</p>
    <p>Best Salad’s</p>
    <p>- Joan’s on Third’s Chinese Chicken Salad</p>
    <p>- La Scala’s Chopped Salad</p>
    <p>Best Egg Salad Sandwich – Clementine</p>
    <p>Best Limeade – Clementine</p>
    <p>Best Butterscotch Brownie – Clementine</p>
    <p>Best Restaurant to Take an Out of Town Guest – Malibu Farm (pictured)</p>
    <p>Best Meal for $10 – SAPP Coffee (Thai food)</p>
    <p>Best Food Truck – Kogi</p>
    <p>Best Ramen – Tsujita Annex</p>
    <p>Best Bouji LA Lunches</p>
    <p>- Nobu Malibu (pictured)</p>
    <p>- Fred’s at Barneys at Barney’s New York</p>
    <p>Best Restaurant Group – Huckleberry, Milo & Olive, Rustic Canyon, Sweet Rose</p>
    <p>Best Sushi Lunch Deals</p>
    <p>- Sushi Gen</p>
    <p>- Shunji</p>
    <p>- Kiriko (pictured)</p>
    <p>- Sushi Tsujita (only 15 of these so you have to get there early)</p>
    <p>- Sugarfish Trust Me Lite (although this might not be enough food for some)</p>

    <p>NIGHT</p>
    <p>Best Cocktail – Faith & Flower’s Milk Punch</p>
    <p>Best Bars With a View Downtown</p>
    <p>- Top of the ACE Hotel</p>
    <p>- Perch</p>
    <p>Best Calamari – Scopa Italian Roots</p>
    <p>Best Lobster Roll – The Hungry Cat</p>
    <p>Best quick meal (for lunch or dinner) -- SUGARFISH</p>
    <p>Best Burgers</p>
    <p>- Baby Badass Burgers – this is a food truck</p>
    <p>- Father’s Office – gourmet burger and bar</p>
    <p>- In-N-Out (obviously)</p>
    <p>- Plan Check (pictured although I recommend the truffle burger)</p>
    <p>Best Pizza</p>
    <p>- Pizzeria Mozza (pictured)</p>
    <p>- Milo and Olive</p>
    <p>Best Steak Frites – JAR</p>
    <p>Best French – Petit Trois (I have not yet been to sister/mother restaurant Trois Mec)</p>
    <p>Best Italian – Giorgio’s</p>
    <p>Best Korean Barbeque</p>
    <p>- Park’s BBQ</p>
    <p>- Chosun Galbee</p>
    <p>Best Homemade Pasta – Bucato</p>
    <p>Best Bread</p>
    <p>- Petit Trois</p>
    <p>- Bucato</p>
    <p>Prettiest Restaurant – COMMISSARY (I’m not crazy about the dinner menu, but I heard brunch is good)</p>
    <p>Most Fun Restaurants</p>
    <p>- Petty Cash (Mexican, pictured)</p>
    <p>- Sunny Spot (Boozy Brunch)</p>
    <p>- POT (Korean fusion)</p>
    <p>- Gracias Madre (for the drinks and the vibe, not the food)</p>
    <p>Best Date Ideas</p>
    <p>- Burger at Apple Pan and movie at the Landmark</p>
    <p>- Drinks at Scopa Italian Roots then getting a bite to eat</p>
    <p>Most Unique Dining Experience – Maude (especially if you sit at the chef’s table, pictured)</p>

    <p>SWEETS</p>
    <p>Best Ice Cream</p>
    <p>- Salt & Straw</p>
    <p>- Sweet Rose</p>
    <p>- Mcconnell’s (pictured)</p>
    <p>Best Froyo – Bigg Chill</p>
    <p>Best Cupcakes</p>
    <p>- Sprinkles</p>
    <p>- Vanilla Bake Shop</p>
    <p>Best Cakes</p>
    <p>- Hansen’s</p>
    <p>- Sweet Lady Jane</p>
    <p>Best Chocolate Soufflé -- The Bel Air Hotel</p>
</div>
