<p class="giltiest"> Giltiest Pleasures </p>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <p class="besttitles"> MORNING </p>
      <p class="best"> Best Egg Sandwich (pictured) – Eggslut’s The Fairfax</p2>
      <p class="best"> Best Sugar Donut – Huckleberry</p>
      <p class="best"> Best Croissant – Maison Giraud</p>
      <p class="best"> Best French Toast – Republique</p>
      <p class="best"> Best Granola – Farmshop</p>
      <p class="best"> Best Chia Pudding – GTA</p>
      <p class="best"> Best Jam – SQIRL</p>
      <p class="best"> Best Bagel – Wexler’s Deli</p>
      <p class="best"> Best Farmers Market – Santa Monica Wednesday Farmers Market</p>
      <p class="best"> Best Egg Dishes</p>
      <li><p class="best">Huckleberry</p></li>
      <li><p class="best">Superba</p></li>
      <li><p class="best">SQIRL</p></li>
      <p class="best"> Best Breakfast Restaurant Group – Gjelina, GTA, and Gjsuta</p>
      <p class="best"> Best Coffee on the Westside: Lo/cal (pictured)</p>
      <p class="best"> Best Acai Bowl (pictured) – Juice Crafters</p><br>

      <p class="besttitles">DAY</p>
      <p class="best">Best Sandwich – Bay Cities’ Godmother</p>
      <p class="best">Best Salads</p>
      <p class="best">- Joan’s on Third’s Chinese Chicken Salad</p>
      <p class="best">- La Scala’s Chopped Salad</p>
      <p class="best">- E. Baldi's Chicken Avocado Salad</p>
      <p class="best">Best Tacos (fusion) – Guerrilla Tacos </p>
      <p class="best">Best Shrimp Tacos (fusion) – Mariscos Jaliscos</p>
      <p class="best">Best Egg Salad Sandwich – Clementine</p>
      <p class="best">Best Limeade – Clementine</p>
      <p class="best">Best Butterscotch Brownie – Clementine</p>
      <p class="best">Best Dumplings – Din Tai Fung (specialty is the soup dumplings)</p>
      <p class="best">Best Restaurant to Take an Out of Town Guest – Malibu Farm</p>
      <p class="best">Best Meal for $10 – SAPP Coffee (Thai food)</p>
      <p class="best">Best Food Truck
      <p class="best">– Guerrilla Tacos</p>
      <p class="best">– Mariscos Jaliscos</p>
      <p class="best">Best Ramen – Tsujita Annex</p>
      <p class="best">Best Bakery/Deli/Cafe - Gjusta (pictured) </p>
      <p class="best">Best Sushi Lunch Deals</p>
      <p class="best">- Sushi Gen</p>
      <p class="best">- Shunji</p>
      <p class="best">- Kiriko</p>
      <p class="best">- Sushi Tsujita (only 15 of these so you have to get there early)</p>
      <p class="best">- Sugarfish Trust Me Lite (although this might not be enough food for some)</p>
      <p class="best">Best Bouji LA Lunches</p>
      <p class="best">- Nobu Malibu (pictured)</p>
      <p class="best">- Fred’s at Barneys at Barney’s New York</p><br>

      <p class="besttitles">NIGHT</p>
      <p class="best">Best Calamari – Scopa Italian Roots</p>
      <p class="best">Best Lobster Roll – The Hungry Cat</p>
      <p class="best">Best quick meal (for lunch or dinner) – SUGARFISH</p>
      <p class="best">Best Burgers</p>
      <p class="best">- Baby Badass Burgers – this is a food truck</p>
      <p class="best">- Father’s Office – gourmet burger and bar</p>
      <p class="best">- In-N-Out (obviously)</p>
      <p class="best">Best Restaurant Group – Huckleberry, Milo & Olive, Rustic Canyon, Cassia, Sweet Rose</p>
      <p class="best">Best Pizza</p>
      <p class="best">- Pizzeria Mozza </p>
      <p class="best">- Milo and Olive</p>
      <p class="best">Best Steak Frites – JAR</p>
      <p class="best">Best French – Petit Trois (pictured)</p>
      <p class="best">Best Italian – Giorgio’s</p>
      <p class="best">Best Korean Barbeque</p>
      <p class="best">- Park’s BBQ</p>
      <p class="best">- Chosun Galbee</p>
      <p class="best">Best Homemade Pasta – Bucato</p>
      <p class="best">Best Bread: Petit Trois</p>
      <p class="best">Best Dinner Deal: Pizzeria Mozza ($20 M-T 10pm-midnight for a full pizza, a glass of wine, and a dessert)</p>
      <p class="best">Prettiest Restaurant – COMMISSARY (I’m not crazy about the dinner menu, but I heard brunch is good)</p>
      <p class="best">Most Fun Restaurants</p>
      <p class="best">- Petty Cash (Mexican, pictured)</p>
      <p class="best">- Sunny Spot (Boozy Brunch)</p>
      <p class="best">- POT (Korean fusion)</p>
      <p class="best">- Gracias Madre (for the drinks and the vibe, not the food)</p>
      <p class="best">Best Date Ideas</p>
      <p class="best">- Burger at Apple Pan and movie at the Landmark</p>
      <p class="best">- Scopa Italian Roots bar </p>
      <p class="best">Most Unique Dining Experience
      <p class="best">- Maude (especially if you sit at the chef’s table)</p>
      <p class="best">- Le Comptoir </p>
      <p class="best">- Wolvesmouth (pictured) </p>
      <p class="best">Best Cocktail – Faith & Flower’s Milk Punch</p>
      <p class="best">Best Bars With a View Downtown</p>
      <p class="best">- Top of the ACE Hotel (pictured)</p>
      <p class="best">- Perch</p><br>


      <p class="besttitles">SWEETS</p>
      <p class="best">Best Ice Cream – Salt & Straw</p>
      <p class="best">Best Froyo – Bigg Chill</p>
      <p class="best">Best Cupcakes – Sprinkles</p>
      <p class="best">Best Cakes</p>
      <p class="best">- Hansen’s</p>
      <p class="best">- Sweet Lady Jane</p>
      <p class="best">Best Chocolate Soufflé -- The Bel Air Hotel</p>
    </div>
    <div class="col-md-7">
      <img class="gpbest" src="/images/eggslut.JPG">
      <p class="captions"> Eggslut </p><br>
      <img class="gpbest" src="/images/juicecrafters.JPG">
      <p class="captions"> Juice Crafters </p><br>
      <img class="gpbest" src="/images/gjusta.JPG">
      <p class="captions"> Gjusta </p><br>
      <img class="gpbest" src="/images/nobu.JPG">
      <p class="captions"> Nobu </p><br>
      <img class="gpbest" src="/images/french.JPG">
      <p class="captions"> Petit Trois </p><br>
      <img class="gpbest" src="/images/pettycash.JPG">
      <p class="captions"> Petty Cash </p><br>
      <img class="gpbest" src="/images/wolvesmouth.JPG">
      <p class="captions"> Wolvesmouth </p><br>
      <img class="gpbest" src="/images/ace.JPG">
      <p class="captions"> Ace Hotel </p><br>
    </div>
  </div>
</div>


<div class="gpbest">

</div>
