<div class = "parttwo">
    <p> Eating and drinking my way through Jonathan Gold's 101 Best Restaurants and Eater LA </p>
    <img class="social" src="/images/social.png">
</div>

<p id="notice"><%= notice %></p>

<h1>Listing posts</h1>

<%= render :partial => @posts %>

<%= link_to 'New Post', new_post_path %>
