<div class="about">

  <img class="utensils" src="/images/utensils.png">

  <p> Born and raised in Santa Monica, I moved to the east coast for college. I was a little nervous about moving home to LA in July 2014, but quickly fell back in love with this city. LA has some of the best produce the world has to offer and the creativity going on in this city involving food is pretty incredible. </p>

  <p> After moving back, I wanted some good restaurant recommendations and started looking online. I quickly discovered LA food critic Jonathan Gold and his <a href="http://ballots.latimes.com/lists/101-best-restaurants-jonathan-gold/"> 101 Best Restaurants List </a>, which he updates annually. I also discovered <a href="http://la.eater.com/"> Eater LA </a> and it's monthly updated "Hottest Restaurants in LA Right Now" list. </p>

  <p> While in LA, I intend to eat at all of Jonathan Gold's 101 restaurants and to go to as many of LA Eater's recommendations as possible. My goal is to share my experiences, give some recommendations, and help fellow foode lovers pick which restaurants to go to based on location, price, type of meal, and ambience. You might think of this as a mini LA restaurant guide. I live and work in Santa Monica so I know the most about this area, but I am excited to learn more and explore all of LA. Luckily, I have the best friends and family to take along with me on this crazy food adventure (special thanks to Pete, Nicole, Olivia, and Bryce). My favorite part of this project (besides eating the food) is taking the pictures so please be sure to check out my Instagram -- <a href="https://www.instagram.com/gilty_pleasures/">@gilty_pleasures</a>. If you have any questions or comments, feel free to email me <a href="mailto:emmagilhuly@me.com?" target="_top">emmagilhuly@me.com</a></p>

  <p>Hope you enjoy xx </p>

</div>
