// Place all the styles related to the best controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gpbest {
  font-size: 15px;
  margin-bottom: 5%;
  margin-left: 5%
}

p.best {
  font-size: 20px;
}

p.besttitles {
  font-size: 30px;
  color: #FFA500;
}

p.giltiest {
  font-size: 30px;
  color: #FFA500;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
  font-weight: 200;
  text-decoration: underline;
}

img.gpbest {
  width: 47%;
  margin-left: 30%;
}

p.captions {
  text-align: center;
  margin-left: 8%
}
